body {
  margin: auto;
  width: 960px;
  color: #2f2f2f;
}

h1, h2, h3, h4, h5, h6 {
  color: #666666;
}

h2.posttitle {
  font-size: 18px;
}
h2 a {
  color: black;
  text-decoration: none;
}

a:link, a:visited { color: #006699; text-decoration: none; }    
a:hover, a:active { color: #0099cc; }

p, ul {
  line-height: 1.5em;
}


#header {
  background: url(/images/header.png) no-repeat #363636;
  height: 85px;
  margin: 0;
  padding: 0;
}

.backlink { 
  margin-left: 600px;
  margin-top:-40px;
}

.social {
  float: left;
  position: absolute;
  margin-left:740px;
  margin-top:-45px;
}

.social ul li {
  float:left;
  position:relative;
  display: inline;
  margin:1px;
}

.postbody {
  margin: 0 1em;
}

.page_links {
  float: right;
}

.post {
  margin-bottom: 2em;
  border-bottom: 2px dotted #ccc;
  padding-bottom: 1em;
}

.postdate {
  display: block;
  margin-top: -12px;
  margin-bottom: 1em;
}

img.postimage {
  border:1px solid #000;
}

#post-pagination {
  margin-bottom: 12px;
}
#post-pagination .disabled {
  color: #ccc;
}
#post-pagination p,#post-pagination ul,#post-pagination li {
  display: inline;
}
#post-pagination .current-page {
  color: #ccc;
}

.flickr-img-box {
  margin: 2px;
  width: 226px;
  overflow: hidden;
  float: left;
  text-align: center;
}
.flickr-img-box img {
  height: 180px;
  -ms-interpolation-mode: bicubic;
}

.flickr-photoset { 
  clear: both;
}
