body {
  margin: auto;
  width: 960px;
  color: #2f2f2f;
}

h1, h2, h3, h4, h5, h6 {
  color: #000;
}

h2.posttitle {
  font-size: 18px;
}
h2 a {
  color: black;
  text-decoration: none;
}

p, ul {
  line-height: 1.5em;
}

#header {
  background: url(/images/header.png) no-repeat #363636;
  height: 85px;
  margin: 0;
  padding: 0;
}


.postbody {
  margin: 0 1em;
}

.page_links {
  float: right;
}

.post {
  margin-bottom: 2em;
  border-bottom: 2px dotted #ccc;
  padding-bottom: 1em;
}

.postdate {
  display: block;
  margin-top: -12px;
  margin-bottom: 1em;
}

img.postimage {
  border:1px solid #000;
}
