<!DOCTYPE HTML>

<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="Ride With GPS" content="Cullen King and Zack Ham" />
    <title>{{ page.title }}</title>

    <link rel="stylesheet" href="/stylesheets/main.css" type=text/css" media="screen" />
  </head>
  <body>
    <div id="header">
      <h1><a href="/">Home</a></h1>
    </div>

    <div id="content">
	    <div id="sidebar">
	      <h3>Our Friends</h3>
	      <ul>
		<li><a href="http://ridewithgps.com">Ride With GPS</a></li>
		<li><a href="http://cullenking.com">Cullen's Blog</a></li>
		<li><a href="http://zackham.com">Zack's Blog</a></li>
	    </div>

	    <div id="posts">
	      {{ content }}
	    </div>
    </div>

  </body>
</html>
