--- 
title: Ride with GPS Blog
---

<!DOCTYPE html>
<html lang='en' xml:lang='en' xmlns='http://www.w3.org/1999/xhtml'>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="description" content="Official blog for ridewithgps.com - Mapping and performance analysis for cyclists and runners" />
    <title>{{ page.title }}</title>

    <link href="http://feeds.feedburner.com/ridewithgpsblog" rel="alternate" title="Ride with GPS Blog" type="application/atom+xml" />

    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/combo?3.3.0/build/cssfonts/fonts-min.css&3.3.0/build/cssreset/reset-min.css&3.3.0/build/cssgrids/grids-min.css&3.3.0/build/cssbase/base-min.css" />
    <link href="/stylesheets/main.css" media="screen" rel="stylesheet" type="text/css" />
    <!-- Place this tag in the <head> of your document -->
    <script type="text/javascript" src="https://apis.google.com/js/plusone.js">{lang: 'en'}</script>
  </head>
  <body>
    <div id="header">
      <a href="http://ridewithgps.com"><img src="/images/header_2.png" alt="{{ page.title}}" /></a>     
    </div>

    <div class="social">
      <ul>
        <li><a href="http://www.facebook.com/ridewithgps"><img src="/images/social_icons/facebook.png" alt="RideWithGPS on Facebook"></a></li>
        <li><a href="https://twitter.com/#!/ridewithgps"><img src="/images/social_icons/twitter.png" alt="RideWithGPS on Twitter"></a></li>
        <li><a href="https://plus.google.com/b/114140652803736847764/114140652803736847764"><img src="/images/social_icons/gPlus.png" alt="RideWithGPS on Google Plus"></a></li>
        <li><a href="http://www.youtube.com/user/ridewithgps"><img src="/images/social_icons/youtube.png" alt="RideWithGps on Youtube"></a></li>
      </ul>
    </div>
    
    <div id="content" class="yui3-g">      
      <div id="posts" class="yui3-u-19-24">
        {{ content }}      
      </div>           

      <div id="sidebar" class="yui3-u-5-24">
        <h3>Quick Links</h3>
        <ul>
          <li><a href="http://ridewithgps.com/contact">Contact</a></li>
          <li><a href="http://ridewithgps.com/faq">RWGPS FAQ</a></li>
          <li><a href="http://ridewithgps.com/about">About Us</a></li>
          <li><a href="http://feeds.feedburner.com/ridewithgpsblog">RSS Feed</a></li>
        </ul>
        <h3>GPS Unit Help</h3>
        <ul>
          <li><a href="http://ridewithgps.com/edge_305">Garmin Edge 205/305</a></li>
          <li><a href="http://ridewithgps.com/edge_500">Garmin Edge 500</a></li>
          <li><a href="http://ridewithgps.com/edge_705">Garmin Edge 705</a></li>
          <li><a href="http://ridewithgps.com/edge_800">Garmin Edge 800</a></li>
        </ul>
        <h3>Our Friends</h3>
        <ul>
          <li><a href="http://ridewithgps.com">Ride With GPS</a></li>
          <li><a href="http://cullenking.com">Cullen's Blog</a></li>
        </ul>
        
      </div>      
    </div>

    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-3033335-2']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </body>
</html>
